@model IEnumerable<snipcart.Models.Product>

@{
    ViewData["Title"] = "Store";
}

<h2>Summer collection</h2>
<button onclick="location.href='@Url.Action("AddNew", "Home")'"  
    class="btn btn-primary add-new-product-btn">Add new product</button>

<div class="row row__product-row">
    @foreach(var prod in Model){
        <div class="col-md-4 product-row__product-col">
            <a class="product-row__product-col-link" href='@Url.Action("Product", "Home", new {id = @prod.Id })'>
            <div class="product-col__product-element" id="@prod.Id">
                <img class="product-col_product-img" src="@prod.Image"/>
                <div class="product-col__product-title">@prod.Title</div>
                <div class="product-col__product-price">$@prod.Price</div>
                <button
                    class="snipcart-add-item btn btn-success product-col__product-add-to-cart-btn"
                    data-item-id="@prod.Id"
                    data-item-name="@prod.Title"
                    data-item-price="@prod.Price"
                    data-item-weight="0"
                    data-item-url="/Home/Product/@prod.Id"
                    data-item-image="@prod.Image"
                    data-item-description="@prod.Description">
                        Add to cart
                </button>
                <button onclick="location.href='@Url.Action("Edit", "Home", new {id = @prod.Id })'"  
                    class="btn btn-warning product-col__product-edit-btn">Edit</button>
            </div>
            </a>
        </div>
    }
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $(".product-col__product-add-to-cart-btn").click(function(e){
                e.preventDefault(); //prevent redirect to product's page
            });
            $(".product-col__product-edit-btn").click(function(e){
                e.preventDefault(); //prevent redirect to product's page
            });
        });
    </script>
}